__pycache__/
*.py[cod]

.venv/
venv/
env/

.env
.env.*
!.env.example

*.sqlite3

/media/
/staticfiles/

data/raw/
data/normalized/
data/processed/

*.log

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store
Thumbs.db
site/